#loading {
    background: url('https://cdn.jsdelivr.net/gh/jimmymitlavigne/lumos/load/loader-1.gif') no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
